$font-sizes: (
  12: 1.2rem,
  14: 1.4rem,
  16: 1.6rem,
  18: 1.8rem,
  20: 2.0rem,
  24: 2.4rem,
  32: 3.2rem,
  34: 3.4rem,
  36: 3.6rem,
  40: 4.0rem,
);

$font-weights: (
  l: 300,
  r: 400,
  m: 500,
  b: 700
);