@use '../configs/text' as *;
@use '../configs/colors' as *;
@use '../functions/is-map' as *;

@each $name, $value in $colors {
  @if(is-map($value)) {
    @each $shade, $hue in $value {
      .text-#{$name}-#{$shade} {
        color: $hue;
      }
    }
  }

  @else {
    .text-#{$name} {
      color: $value;
    }
  }
}

@each $name, $value in $font-sizes {
  @each $weightName, $weight in $font-weights {
    .text-#{$weightName} {
      font-weight: $weight;
    }
    .text-#{$weightName}-#{$name} {
      font-size: $value;
      font-weight: $weight;
    }
  }
}
