@use './normalize.scss' as *;
@use './utilities/utils.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

:root {
  --font-family: 'Open Sans', sans-serif
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
}