*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

ul,
ol {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    font-size: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
}

/* Responsive media */
@media (prefers-reduced-motion: reduce) {
    * {
        scroll-behavior: auto;
    }
}